*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'AvantGarde Bk BT', sans-serif;
}

.navbar{
  background: #42425a;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 0 50px;
}

#logo{
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

#logo img{
  width: 120px;
  height: auto;
}

.navbar-menu{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item{
  height: 80px;
  width: 150px;
}

.navbar-links{
  color: #c5c4c3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 .5rem;
  height: 100%;
  width: 130px;
  transition: all 0.2s ease-in-out;
}

.navbar-links:hover{
  color: white;
}

@media screen and (max-width: 960px) {
  .navbar-container{
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar-menu{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 50vh;
    z-index: -1;
    background-color: #42425a;
  }

  .navbar-menu.active{
    background-color: #42425a;
    top: 100%;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    z-index: 999;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar-logo{
    padding-left: 25px;
  }

  .navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.2s ease-in-out;
    background-color: #c5c4c3;
  }

  .navbar-item{
    width: 100%;
  }

  .navbar-links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-toggle .bar{
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

.main{
  background: url(/images/hero.jpg) no-repeat;
  background-size: 1550px 1250px;
  background-attachment: fixed;
  background-position: 0 -100px;
}

.main-container{
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main-content h1{
  font-size: 4rem;
  background-color: #42425a;
  background-image: linear-gradient(to right, #2e2e8d, #c5c4c3 70%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-content p{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: #c5c4c3;
}

.main-btn{
  font-size: 1rem;
  background-color: #42425a;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.main-btn a{
  position: relative;
  z-index: 2;
  color: white;
  text-decoration: none;
}

.main-btn:hover{
  border-radius: 30px;
}

@media screen and (max-width: 768px) {
  .main{
    background-position: center;
  }
  
  .main-content{
    text-align: center;
    margin-bottom: 4rem;
  }

  .main-content h1{
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main-content p{
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c5c4c3;
  height: 40vh;
  justify-content: center;
}

.section h1{
  font-size: 3rem;
  margin-bottom: 4rem;
}

.section p{
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section h1{
    font-size: 2.5rem;
  }

  .section p{
    font-size: 1rem;
  }
}

.footer{
  background-color: #42425a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}

.footer p{
  color: #c5c4c3;
  font-size: 1.2rem;
}

@media screen and (max-width: 650px) {
  .footer p{
    font-size: .7rem;
  }
}